<h1><%= title %></h1>
    <div id = "registration-container">
        <p>All fields are required</p>
            <!-- FLASH MESSAGE -->
            <% if (message){ %>
            <div class="flash-message"><%= message%></div>
             <% } %>
        <form action="/account/register" method="post" class="registration-form">
            <!--First Name-->
            <label for="account_firstname">First Name</label>
            <input
                type="text"
                id="accountFirstname"
                name="account_firstname"
                placeholder="John"
                required
                value="<%=locals.account_firstname ? locals.account_firstname : ''%>">
            <!--Last Name Name-->
            <label for="account_lastname">Last Name</label>
            <input
                type="text"
                id="accountLastname"
                name="account_lastname"
                placeholder="Doe"
                required
                value="<%=locals.account_lastname ? locals.account_lastname : ''%>">
            <!--Email-->
            <label for="account_email">Email</label>
            <input
                type="email"
                id="accountEmail"
                name="account_email"
                placeholder="johndoe@fsdhf.com"
                required
                value="<%=locals.account_email ? locals.account_email : ''%>">
            <!--Password-->
            <label for="account_password">Password</label>
            <span class="note">
                Must be at least 12 characters, contain 1 special letter, 1 number and 1 special character.
            </span>
            <input
                type="password"
                id="account_password"
                name="account_password"
                placeholder="************"
                required
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                value="<%=locals.account_password ? locals.account_password : ''%>">
            
            <button type="submit">Register</button>
        </form>